@font-face{
    font-family: "cowboyjunk";
    src: url('cowboyjunkDEMO.otf');
}



body{background-color: black;}


h2,
#wins-text,
#win-amount,
#currentWord-text,
#blanks,
#remainingGuesses-text,
#remainingGuesses-amount,
#previousGuess-array,
#previousGuess-text
{
 color: white;
 font-family: "cowboyjunk";
}