body{background-color: black;}

h2{
    color:white;
}

#wins-text,
#win-amount,
#currentWord-text,
#blanks,
#remainingGuesses-text,
#remainingGuesses-amount,
#previousGuess-array,
#previousGuess-text
{
 color: white;
}